<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.nubri.pocketbase</string>
    <key>ProgramArguments</key>
    <array>
        <string>/usr/local/bin/pocketbase</string>
        <string>serve</string>
        <string>--http=127.0.0.1:8090</string>
        <string>--dir=/Users/{{USER}}/Biobank/pb_data</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
    <key>WorkingDirectory</key>
    <string>/Users/{{USER}}/Biobank</string>
    <key>StandardOutPath</key>
    <string>/Users/{{USER}}/Biobank/logs/pocketbase.log</string>
    <key>StandardErrorPath</key>
    <string>/Users/{{USER}}/Biobank/logs/pocketbase.err</string>
    <key>EnvironmentVariables</key>
    <dict>
        <key>PATH</key>
        <string>/usr/local/bin:/usr/bin:/bin:/opt/homebrew/bin</string>
    </dict>
</dict>
</plist>
